<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurine.cloudx.open.origin.mapper.ProjectNoticeChannelConfMapper">

    <resultMap type="com.aurine.cloudx.open.origin.entity.ProjectNoticeChannelConf" id="ProjectNoticeChannelConfMap">
        <result property="seq" column="seq" jdbcType="INTEGER"/>
        <result property="projectId" column="projectId" jdbcType="INTEGER"/>
        <result property="channelId" column="channelId" jdbcType="VARCHAR"/>
        <result property="channelName" column="channelName" jdbcType="VARCHAR"/>
        <result property="isActive" column="isActive" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

</mapper>