<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.open.origin.mapper.ProjectPhysicalPassPolicyMapper">

    <resultMap id="projectPhysicalPassPolicyMap" type="com.aurine.cloudx.open.origin.entity.ProjectPhysicalPassPolicy">
        <id property="policyId" column="policyId"/>
        <result property="deviceId" column="deviceId"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <select
            id="page"
            parameterType="com.aurine.cloudx.open.origin.entity.ProjectPhysicalPassPolicy"
            resultType="com.aurine.cloudx.open.common.entity.vo.PhysicalPassPolicyVo"
    >
        SELECT
        *
        FROM project_physical_pass_policy pppp
        <where>
            <if test="query.projectId != null">
                AND pppp.projectId = #{query.projectId}
            </if>
            <if test="query.tenantId != null">
                AND pppp.tenantId = #{query.tenantId}
            </if>
            <if test="query.policyId != null and query.policyId != ''">
                AND pppp.policyId = #{query.policyId}
            </if>
            <if test="query.deviceId != null and query.deviceId != ''">
                AND pppp.deviceId = #{query.deviceId}
            </if>
        </where>
    </select>

</mapper>
