<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurine.cloudx.open.origin.mapper.ProjectTrainingFileMapper">

    <resultMap type="com.aurine.cloudx.open.origin.entity.ProjectTrainingFile" id="ProjectTrainingFileMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="trainingId" column="trainingId" jdbcType="VARCHAR"/>
        <result property="fileId" column="fileId" jdbcType="VARCHAR"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="operator" column="operator" jdbcType="INTEGER"/>
    </resultMap>

</mapper>