<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.open.origin.mapper.ProjectLiftEventMapper">

    <select id="select" resultType="com.aurine.cloudx.open.origin.vo.ProjectLiftEventVo">
        SELECT
        p_event.*,
        p_event.deviceRegionName AS regionName,
        CONCAT(IfNULL(p_event.personName,''),IfNULL(p_visitor.personName,''),IfNULL(p_staff.staffName,'')) AS personName
        FROM project_lift_event p_event
        LEFT JOIN project_visitor p_visitor ON p_event.personId = p_visitor.visitorId
        LEFT JOIN project_staff p_staff on p_event.personId = p_staff.staffId
        <where>
            AND p_event.projectId = #{param.projectId}
            AND p_event.tenant_id = #{param.tenantId}
            <if test="param.personName != null and param.personName != ''">
                AND (p_event.personName LIKE concat('%',#{param.personName},'%')
                OR p_visitor.personName LIKE concat('%',#{param.personName},'%')
                OR p_staff.staffName LIKE concat('%',#{param.personName},'%'))
            </if>
            <if test="param.eventType != null and param.eventType != ''">
                AND p_event.eventType LIKE concat('%',#{param.eventType},'%')
            </if>
            <!--<if test="param.regionName != null and param.regionName != ''">
                AND p_event.deviceRegionName LIKE concat('%',#{param.regionName},'%')
            </if>-->
            <if test="param.deviceName != null and param.deviceName != ''">
                AND p_event.deviceName LIKE concat('%',#{param.deviceName},'%')
            </if>
            <if test="param.cardNumber != null and param.cardNumber != ''">
                AND p_event.eventDesc LIKE concat('%',#{cardNumber},'%')
            </if>
            <if test="param.effTime != null">
                AND
                DATE_FORMAT(p_event.eventTime, '%Y-%m-%d %H:%i:%s')
                <![CDATA[>=]]>
                DATE_FORMAT(#{param.effTime}, '%Y-%m-%d %H:%i:%s')
            </if>
            <if test="param.expTime != null">
                AND
                DATE_FORMAT(p_event.eventTime, '%Y-%m-%d %H:%i:%s')
                <![CDATA[<=]]>
                DATE_FORMAT(#{param.expTime}, '%Y-%m-%d %H:%i:%s')
            </if>
        </where>
        ORDER BY p_event.eventTime desc
    </select>

</mapper>
