<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurine.cloudx.open.origin.mapper.ProjectTrainingFileDbMapper">

    <resultMap type="com.aurine.cloudx.open.origin.entity.ProjectTrainingFileDb" id="ProjectTrainingFileDbMap">
        <result property="seq" column="seq" jdbcType="INTEGER"/>
        <result property="fileId" column="fileId" jdbcType="VARCHAR"/>
        <result property="fileName" column="fileName" jdbcType="VARCHAR"/>
        <result property="filePath" column="filePath" jdbcType="VARCHAR"/>
        <result property="isDir" column="isDir" jdbcType="VARCHAR"/>
        <result property="fileType" column="fileType" jdbcType="VARCHAR"/>
        <result property="parId" column="parId" jdbcType="VARCHAR"/>
        <result property="projectId" column="projectId" jdbcType="INTEGER"/>
        <result property="tenant_id" column="tenant_id" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="operator" column="operator" jdbcType="INTEGER"/>
    </resultMap>

</mapper>