<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurine.cloudx.open.origin.mapper.SysRoleMenuMobileMapper">

    <resultMap type="com.aurine.cloudx.open.origin.entity.SysRoleMenuMobile" id="SysRoleMenuMobileMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleId" column="roleId" jdbcType="INTEGER"/>
        <result property="menuId" column="menuId" jdbcType="INTEGER"/>
    </resultMap>
    <select id="listIdByRoleId" resultType="java.lang.Integer">
        select menuId
        from sys_role_menu_mobile
        where roleId = #{roleId}
    </select>
    <select id="listPermissionByRoleId" resultType="java.lang.String">
        select smm.permission
        from sys_role_menu_mobile srmm
                 left join sys_menu_mobile smm on srmm.menuId = smm.menuId
        where srmm.roleId = #{roleId}
    </select>
    <select id="treeByRoleId" resultType="com.aurine.cloudx.open.origin.vo.SysMenuMobileTreeVo">
        select smm.permission,smm.menuId id,smm.sort,smm.name,smm.type,smm.parentId
        from sys_role_menu_mobile srmm
                 left join sys_menu_mobile smm on srmm.menuId = smm.menuId
        where srmm.roleId = #{roleId}
    </select>
    <select id="treeTypeByRoleId" resultType="com.aurine.cloudx.open.origin.vo.SysMenuMobileTreeVo">
         select smm.permission,smm.menuId id,smm.sort,smm.name,smm.type,smm.parentId
        from sys_role_menu_mobile srmm
                 left join sys_menu_mobile smm on srmm.menuId = smm.menuId
        where srmm.roleId = #{roleId} and smm.type = {type}
    </select>

</mapper>
