<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.open.origin.mapper.SysServiceCfgMapper">

    <resultMap id="sysServiceCfgMap" type="com.aurine.cloudx.open.origin.entity.SysServiceCfg">
        <id property="serviceId" column="serviceId"/>
        <result property="serviceCode" column="serviceCode"/>
        <result property="serviceName" column="serviceName"/>
        <result property="serviceCategory" column="serviceCategory"/>
        <result property="serviceType" column="serviceType"/>
        <result property="isValueadded" column="isValueadded"/>
        <result property="isActive" column="isActive"/>
        <result property="manufacturer" column="manufacturer"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>
    <!--查询平台中的增值服务名称列表-->
    <select id="selectValueadd" resultType="com.aurine.cloudx.open.origin.vo.SysServiceCfgVo">
       SELECT DISTINCT serviceName as valueaddName FROM sys_service_cfg WHERE isValueadded = '1'
    </select>

</mapper>
