<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectDeviceCollectMapper">

    <resultMap id="projectDeviceCollectMap" type="com.aurine.cloudx.estate.entity.ProjectDeviceCollect">

        <result property="deviceType" column="deviceType"/>
        <result property="attrId" column="attrId"/>
        <result property="attrValue" column="attrValue"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>
    <select id="getDeviceCollectListVo" resultType="com.aurine.cloudx.estate.vo.ProjectDeviceCollectListVo">
        select dcf.*, pdc.attrValue
        from project_device_collect_cfg dcf
        left join project_device_collect pdc on dcf.attrId = pdc.attrId and pdc.projectId = #{projectId}
        <where>
            and (dcf.projectId = pdc.projectId
            or dcf.projectId is null )and dcf.deviceType = #{type}
            <if test="param!=null and param!=''">
                and dcf.attrCode=#{param}
            </if>
        </where>
    </select>
</mapper>
