<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectInspectPlanMapper">

    <select id="fetchList" resultType="com.aurine.cloudx.estate.vo.ProjectInspectPlanVo">
        SELECT * FROM (
            SELECT
            plan.planName,
            plan.planId,
            route_conf.inspectRouteName,
            plan.cronType,
            plan.checkInType,
            plan.createTime,
            DATE_FORMAT(plan.createTime,'%Y-%m-%d %H:%i') createTimeStr,
            sys_user.true_name 'operatorName',
            plan.gapType,
            plan.status,
            (
                SELECT GROUP_CONCAT(DISTINCT staff.staffName) 'staffNames' FROM
                project_inspect_plan_shift3 shift
                LEFT JOIN project_inspect_plan_shift_staff shift_staff ON shift_staff.recordId = shift.recordId
                LEFT JOIN project_staff staff ON staff.staffId = shift_staff.staffId
                WHERE shift.planId = plan.planId AND shift.projectId = plan.projectId
            ) 'staffNames',
            CONCAT(STR_TO_DATE((DATE_FORMAT(any_value(plan.startTime),'%Y-%m-%d')),'%Y-%m-%d'),' 至 ',STR_TO_DATE((DATE_FORMAT(any_value(plan.endTime),'%Y-%m-%d')),'%Y-%m-%d')) 'beginEndTime'
        FROM
        project_inspect_plan plan
        LEFT JOIN pigxx.sys_user sys_user ON sys_user.user_id = plan.operator
        LEFT JOIN project_inspect_route_conf route_conf ON plan.inspectRouteId = route_conf.inspectRouteId
        <where>
            <if test="query.keyword!=null and query.keyword != ''">
                plan.planName LIKE concat('%',#{query.keyword},'%')
            </if>
        </where>
        ) AS plan_cus_table
        <where>
            <if test="query.timeRange!=null and query.timeRange.length>0">
                AND STR_TO_DATE((DATE_FORMAT(createTime,'%Y-%m-%d')),'%Y-%m-%d') BETWEEN #{query.timeRange[0]} AND #{query.timeRange[1]}
            </if>
            <if test="query.cronType!=null and query.cronType!=''">
                AND cronType = #{query.cronType}
            </if>
            <if test="query.status!=null and query.status!=''">
                AND status = #{query.status}
            </if>
        </where>
        ORDER BY createTime desc
    </select>

    <select id="listAllOutdatedPlan" resultType="string">
        SELECT
            planId
        FROM
            project_inspect_plan
        WHERE
        STR_TO_DATE(endTime, '%Y-%m-%d') &lt; STR_TO_DATE(NOW( ) , '%Y-%m-%d' )
        AND status != '2'
    </select>

</mapper>