<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectUnitInfoMapper">
    <select id="getByCode" resultType="com.aurine.cloudx.estate.vo.ProjectUnitInfoVo">
        SELECT seq,
               unitId,
               unitCode,
               projectId,
               unitName,
               standardAddress,
               addressName,
               picUrl1,
               picUrl2,
               picUrl3,
               remark,
               tenant_id,
               operator,
               createTime,
               updateTime
        FROM project_unit_info
        WHERE unitCode = #{unitCode}
          AND projectId = #{projectId}
    </select>

    <insert id="saveUnit">
        INSERT
        INTO project_unit_info
        (unitId,
         unitCode,
         frameNo,
         projectId,
         unitName,
         standardAddress,
         addressName,
         picUrl1,
         picUrl2,
         picUrl3,
         remark,
         tenant_id,
         operator)
        VALUES (#{unitInfo.unitId},
                #{unitInfo.unitCode},
                #{unitInfo.frameNo},
                #{unitInfo.projectId},
                #{unitInfo.unitName},
                #{unitInfo.standardAddress},
                #{unitInfo.addressName},
                #{unitInfo.picUrl1},
                #{unitInfo.picUrl2},
                #{unitInfo.picUrl3},
                #{unitInfo.remark},
                #{unitInfo.tenantId},
                #{unitInfo.operator})

    </insert>

    <select id="listUnitInfo"  resultType="com.aurine.cloudx.estate.vo.ProjectUnitInfoCountVo">
        select unit.*,(select count(1) from project_frame_info house where house.puid=unit.unitId) houseCount from project_unit_info unit
        left join project_frame_info info on info.entityId=unit.unitId
        where info.puid=#{buildingId}
    </select>
</mapper>
