<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.estate.mapper.SysRegionMapper">
    <resultMap id="SysRegionMap" type="com.aurine.cloudx.estate.entity.SysRegion">
        <id property="uid" column="uid"/>
        <result property="regionName" column="regionName"/>
        <result property="parRegionCode" column="parRegionCode"/>
        <result property="parRegionList" column="parRegionList"/>
        <result property="rLevel" column="rLevel"/>
        <result property="status" column="status"/>
        <result property="remark" column="remark"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>


</mapper>
