<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.wjy.mapper.BuildingMapper">

    <resultMap id="projectMap" type="com.aurine.cloudx.wjy.entity.Building">
        <id property="seq" column="seq"/>
        <result property="projectId" column="projectId"/>
        <result property="wjyBuildingId" column="wjyBuildingId"/>
        <result property="buildingId" column="buildingId"/>
        <result property="buildingName" column="buildingName"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>
    <sql id="selectSql">
        i.seq,
        i.projectId,
        i.buildingId,
        i.wjyBuildingId,
        i.buildingName,
        i.createTime,
        i.updateTime
    </sql>

</mapper>
