<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.edge.sync.biz.mapper.ProjectRelationMapper">

    <resultMap id="projectRelationMap" type="com.aurine.cloudx.edge.sync.common.entity.po.ProjectRelation">
        <id property="seq" column="seq"/>
        <result property="relationId" column="relationId"/>
        <result property="sn" column="sn"/>
        <result property="projectUUID" column="projectUuid"/>
        <result property="projectCode" column="projectCode"/>
        <result property="syncType" column="syncType"/>
        <result property="source" column="source"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <select id="getUuidList" resultType="String">
        SELECT projectUuid from project_relation
    </select>

    <select id="getCodeList" resultType="String">
        SELECT projectCode from project_relation
    </select>

    <delete id="deleteByProjectUUID">
        DELETE FROM project_relation WHERE projectUuid = #{projectUuid}
    </delete>

    <delete id="deleteByProjectCode">
        DELETE FROM project_relation WHERE projectCode = #{projectCode}
    </delete>
</mapper>
