<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectInspectDetailDeviceMapper">

    <select id="listDetailDeviceByDetailId" resultType="com.aurine.cloudx.estate.vo.ProjectInspectDetailDeviceVo">
        SELECT
            inspect.*,(IF(inspect.picUrl != '',1,0) + IF(inspect.picUrl2 != '',1,0) +IF(inspect.picUrl3 != '',1,0) +IF(inspect.picUrl4 != '',1,0)) 'picNum'
        FROM
            project_inspect_detail_device inspect
	    WHERE inspect.detailId = #{detailId}
    </select>

</mapper>