<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectHouseServiceMapper">

    <resultMap id="projectHouseServiceMap" type="com.aurine.cloudx.estate.entity.ProjectHouseService">

        <result property="houseId" column="houseId"/>
        <result property="serviceId" column="serviceId"/>
        <result property="effTime" column="effTime"/>
        <result property="expTime" column="expTime"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>
</mapper>
