<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//codeRule.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectEntityLevelCfgMapper">

    <resultMap id="buildingEntityLevelCfgMap" type="com.aurine.cloudx.estate.entity.ProjectEntityLevelCfg">
        <id property="seq" column="seq"/>
        <result property="projectId" column="projectId"/>
        <result property="level" column="level"/>
        <result property="codeRule" column="codeRule"/>
        <result property="levelDesc" column="levelDesc"/>
        <result property="isDisable" column="isDisable"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>
</mapper>
