<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aurine.cloudx.estate.mapper.ProjectLabelConfigMapper">

    <resultMap id="labelConfigMap" type="com.aurine.cloudx.estate.entity.ProjectLabelConfig">
        <id property="labelId" column="labelId"/>
        <result property="labelCode" column="labelCode"/>
        <result property="labelName" column="labelName"/>
        <result property="labelColor" column="labelColor"/>
        <result property="remark" column="remark"/>
        <result property="useCount" column="useCount"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
    </resultMap>

    <select id="select" resultType="com.aurine.cloudx.estate.entity.ProjectLabelConfig">
        SELECT
        c.labelId,
        c.labelCode,
        c.labelName,
        c.labelColor,
        c.remark,
        IFNULL(co.num,0) AS useCount
        FROM
        project_label_config c
        LEFT JOIN (
        SELECT
        cfg.labelId id,
        count(1) num
        FROM
        project_label_config cfg
        JOIN project_person_label lab ON cfg.labelId = lab.labelId
        GROUP BY
        cfg.labelId
        ) AS co ON c.labelId = co.id
        <where>
            <if test="labelName != null and labelName != ''">
                AND c.labelName like concat('%', #{labelName},'%')
            </if>
        </where>
    </select>

    <insert id="initInsert">
        INSERT
        INTO
        project_label_config
        (labelId, labelName, projectId, tenant_id)
        VALUES
        (#{param.labelId}, #{param.labelName}, #{projectId}, #{tenantId})
    </insert>

    <select id="selectByDefault" resultType="com.aurine.cloudx.estate.entity.ProjectLabelConfig">
        SELECT
        *
        FROM
        project_label_config
        <where>
            projectId = #{projectId}
            AND labelName IN (#{oldMan},#{arrears},#{difficulty})
        </where>
    </select>

    <select id="selectByTemplate" resultType="com.aurine.cloudx.estate.entity.ProjectLabelConfig">
        SELECT
        labelId,
        labelName
        FROM
        project_label_config
        <where>
            AND projectId = 0
        </where>
    </select>

</mapper>
